.text{
  animation: color-text 1.5s 0.3s infinite alternate;
}

.text2{
  animation: color-text 1.6s 0.9s infinite alternate;
}

.text3{
  animation: color-text 1.6s 1.5s infinite alternate;
}

.text{
  display: inline-block;
}

.text2{
  display: inline-block;
}

.text3{
  display: inline-block;
}

@keyframes color-text{
  0%{
  color:  red;
  }
  30%{
    color: red;
  }
  55%{
    color: red;
  }
100%{
    color:  black;
  }
}