.block{
  width: 100vw;
  height: 5px;
  background-color: black;
  position: fixed;
  top: 50vh;
}

.block:hover{
  background-color: aqua;
  transition: 3s 2s;
}

/* -------------------------------------------- */

/* .block:hover{
  background-color: aqua;
  transition-duration: 3s;
  transition-delay: 2s;
} */