@font-face {
    font-family: 'GTA Russian';
    src: local('GTA Russian Regular'), local('GTARussian-Regular'),
        url('../fonts/GTARussian-Regular.woff2') format('woff2'),
        url('../fonts/GTARussian-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

