.title{
  display: inline-flex;
  align-items: center;
  position: absolute;
  left: 20px;
}

.title::before{
  content:  "";
  display: inline-block;
  position: absolute;
  justify-content: center;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: blue;
  right: 2rem;

}

.title::after{
  content: "";
  display: inline-block;
  position: absolute;
  justify-content: center;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: red;
  left: 2rem;
}
